@font-face {
  font-family: 'Corbert-Regular';
  src: url("Corbert-Regular-webfont.woff2") format("woff2"), url("Corbert-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
